/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Arial, Helvetica, sans-serif;
    background: #d2d2c1 url('image/fundo.png');
}

#principal {
    width: 900px;
}

#menu{
    background: #c5c5b2;
    padding: 18px;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

#rodape{
    padding: 10px;
    text-align: center;
}

.img-campanha{
    padding: 10px;
    border: #c3c3ae 10px solid;
    margin-top: 10px;
}

h1{
    color: #828271;
    font-size: 1.2em;
}
a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

p{
    padding-top: 10px;
}